body
{
  background-color: black;
  display: grid;
  place-items: center;
}
#game
{
  display: flex;
}
td
{
border: 1px solid white;
width: 170px;
height: 170px;
}
tr
{
  max-width: 360px;
}
img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pl1
{
 font-size:40px;
 padding: 0px;
 color: aqua;
 margin-top: 90px;
 
}
.pl2
{
  font-size: 40px;
 padding-left: 5px;
 color:red;
 margin-top: 90px;
 
}
#pl1
{
  margin: 60px;
}
#pl2
{
  margin: 60px;
}
div
{
  color: aliceblue;
}
table
{
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
}
button
{
  background-color: aqua;
  width: 120px;
  height: 35px;
  font-size: x-large;
  border-radius: 8%;
  margin-left: 35px;
  margin-right: 50px;
}
.options
{
  display: flex;

}
#new_game
{
  width: 180px;
  height: 35px;
  margin-left: 10%;
}